{% extends "layout.html" %}
{% block content %}
    <div id="particles-js"></div>
    <div class="content flex-1-0-auto">
      <div class="row">
        <div class="col-md-6 maps display-flex justify-content-center align-items-center">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1286.6282250488364!2d24.032106658119982!3d49.837638724756076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDnCsDUwJzE1LjUiTiAyNMKwMDEnNTkuNSJF!5e0!3m2!1sen!2sua!4v1530533008021" frameborder="0" style="border:0" allowfullscreen class="min-height-70vh min-width-40vw"></iframe>
        </div>
        <div class="col-md-6 padding-5-5">
          <form action="">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control mt-2" placeholder="Name" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="email" class="form-control mt-2" placeholder="Email" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="number" class="form-control mt-2" placeholder="Phone" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control mt-2" placeholder="Subject" required>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control" id="messageArea" placeholder="Message" rows="3" required></textarea>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-dark" type="submit">Send message</button>
              </div>
            </div>
          </form>
          <div class="">
          <!-- <h2 class="text-uppercase mt-4 font-weight-bold"></h2> -->
          <i class="fas fa-phone mt-3"></i> (032) 258-24-04<br>
          <i class="fas fa-phone mt-3"></i> (032) 258-26-63<br>
          <i class="fa fa-envelope mt-3"></i> ikni-info@lp.edu.ua<br>
          <i class="fa fa-envelope mt-3"></i> dekanat.ikni@gmail.com<br>
          <i class="fas fa-globe mt-3"></i> м. Львів, вул. Князя Романа 5, 20-й корпус<br>
          <div class="my-4">
          <a href="https://www.facebook.com/ai.lviv.ua" class=""><i class="fab fa-facebook fa-3x pr-4"></i></a>
          </div>
          </div>
        </div>

      </div>
    </div>
{% endblock content %}