{% extends "layout.html" %}
{% block content %}
    <div id="particles-js"></div>
    <div class="margin-top-50px flex-1-0-auto">
        <div id="partners" class="margin-top-50px">
			<div class="display-flex justify-content-center overflow-hidden">
				<h2>Наші партнери</h2>
			</div>
			<div id="partnersSlider">
                {% for one in partners %}
                    <div>
                        <div class="" style="background-image: url('{{ url_for('static', filename='partner_pics/' + one.image) }}')"></div>
                        <h4 class="partnerName">{{ one.name }}</h4>
                        <p class="partnerDescription">{{ one.description }}</p>
                    </div>
                {% endfor %}
			</div>
		</div>
        <div id="history" class="margin-top-50px">
            <div class="display-flex justify-content-center overflow-hidden">
				<h2>Історія</h2>
			</div>
            <div class="display-flex row padding-20px-5">
                {% for one in history%}
                    <div class="card-container col-lg-4 col-md-6 col-sm-12" >
                        <div class="card">
                            <img class="card-img-top" src="{{ url_for('static', filename='history_pics/' + one.image) }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ one.header }}</h5>
                                <p class="card-text white-space-pre-wrap">{{ one.description }}</p>
                                <p class="card-text"><small class="text-muted">{{ one.date.strftime('%m-%Y') }}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}