{% extends "layout.html" %}
{% block content %}
    <div class="sidenav">
        {% for one in categories %}
            <a href="{{ url_for('news', category_id=one.id, page_number = 1) }}">{{ one.name }}</a>
        {% endfor %}
    </div>
    <div id="particles-js"></div>
    <div class="content margin-l-180px flex-1-0-auto">

        {% for one in news_list.items %}
            <div class="card-container col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <img class="card-img-top" src="{{ url_for('static', filename='news_pics/' + one.image) }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ one.header }}</h5>
                    <p class="card-text">{{ one.description }}</p>
                    <a class="btn btn-dark" href="{{ url_for('news_get_one', news_id = one.id) }}">Детальніше</a>
                    <p class="card-text"><small class="text-muted">Опубліковано {{ one.date_posted.strftime('%d-%m-%Y') }}</small></p>
                  </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="margin-l-180px display-flex flex-direction-row justify-content-center">
        {% for page_num in news_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if news_list.page == page_num %}
                    <a class="btn btn-dark margin-5px" href="{{ url_for('news', category_id=category_id, page_number = page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-dark margin-5px" href="{{ url_for('news', category_id=category_id, page_number = page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}