{% extends "admin.html" %}
{% block content %}
    <div class="text-center mb-2">
        <a role="button" class="btn btn-lg btn-info" href="{{ url_for('partner_save') }}">
            Add new partner
        </a>
    </div>
    {% for partner in partners %}
        <article class="media content-section">
            <img class="article-img" src="{{ url_for('static', filename='partner_pics/' + partner.image) }}">
            <div class="media-body">
                <h2 class="article-title">{{ partner.name }}</h2>
                <p class="article-content">{{ partner.description }}</p>
                <div>
                    <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('partner_update', partner_id=partner.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"
                    data-link="{{ url_for('partner_delete', partner_id=partner.id) }}" onclick="deleteModal(event)">Delete</button>
                </div>
            </div>
        </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Partner?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" role="button" href="" id="deleteModalLink">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}