{% extends "admin.html" %}
{% block content %}
    <div class="text-center mb-2">
        <a role="button" class="btn btn-lg btn-info" href="{{ url_for('project_save') }}">
            Add new project
        </a>
    </div>
    {% for project in projects %}
        <article class="media content-section">
            <img class="article-img" src="{{ url_for('static', filename='project_pics/' + project.image) }}">
            <div class="media-body">
                <h2 class="article-title">{{ project.title }}</h2>
                <p class="article-content">{{ project.authors }}</p>
                <p class="article-content">{{ project.url }}</p>
                <p class="article-content">{{ project.description }}</p>
                <p class="article-content">Year: {{ project.year.value }}</p>
                <p class="article-content">Semester: {{ project.semester.value }}</p>
                <div>
                    <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('project_update', project_id=project.id) }}">
                        Update
                    </a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                            data-link="{{ url_for('project_delete', project_id=project.id) }}" data-target="#deleteModal"
                            onclick="deleteModal(event)">Delete</button>
                </div>
            </div>
        </article>
        <div class="d-flex flex-row">
            {% for picture in project.pictures %}
                <div class="container-img">
                    <img class="list-img" src="{{ url_for('static', filename='project_pics/' + picture.image) }}">
                    <!--<a href="{{ url_for('project_delete_picture', picture_id=picture.id) }}">-->
                        <!--<img class="delete-img" src="{{ url_for('static', filename='svg/cancel-button.svg') }}"/>-->
                    <!--</a>-->
                    <img class="delete-img" src="{{ url_for('static', filename='svg/cancel-button.svg') }}"
                         data-link="{{ url_for('project_delete_picture', picture_id=picture.id) }}"
                         onclick="sendDelete(event)"/>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Project?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" role="button" href="" id="deleteModalLink">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}