{% extends "admin.html" %}
{% block content %}
    {% for callback in callbacks %}
        <article class="media content-section">
            <div class="media-body">
                <h2 class="article-title">{{ callback.subject }}</h2>
                <p class="article-content">{{ callback.datetime.strftime('%d-%m-%Y') }}</p>
                <p class="article-content">{{ callback.message }}</p>
                <p class="article-content"> From: {{ callback.username }} </p>
                <p class="article-content"> Phone: {{ callback.phone }} </p>
                <p class="article-content"> Email: {{ callback.email }} </p>
                <div>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                            data-link="{{ url_for('callback_delete', callback_id=callback.id) }}" data-target="#deleteModal"
                            onclick="deleteModal(event)">Delete</button>
                </div>
            </div>
        </article>
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete History?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" role="button" href="" id="deleteModalLink">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}